form {
  display: flex;
  flex-direction: column;

  input, textarea {
    width: 100%;
    padding: 1rem;
    margin-top: 1.5rem;
    outline: none;
    border: 1px solid #a7a7a7;
    border-radius: 3px;
  }

  input:focus, textarea:focus {
    box-shadow: 0 0 2px 0px #152238;
  }

  a {
    color: #fff;
    text-decoration: none;
    width: 100%;
  }

  button {
    width: 100%;
    padding: 1rem;
    margin-top: 1.5rem;
    background-color: #152238;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #a7a7a7;
    border-radius: 5px;
  }
}