#hero {
  height: calc(100vh - 80px);
  background-color: #45458d;
  padding: 0% 7%;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-family: 'Roboto Condensed', sans-serif;

  @media (max-width: 900px) {
    flex-direction: column;
  }

  .text-container {
    width: 50%;
    display: flex;
    align-items: center;
    color: #fff;

    h2 {
      font-size: 3.5rem;
      text-transform: uppercase;

      @media (max-width: 900px) {
        text-align: center;
        padding-top: 1.5rem;
      }

      @media (max-width: 1116px) {
        font-size: 2.8rem;
      }

      @media (max-width: 504px) {
        font-size: 2.3rem;
      }
    }

    @media (max-width: 900px) {
      width: 100%;
    }
  }

  .img-container {
    width: 50%;

    @media (max-width: 900px) {
      width: 100%;
    }

    img {
      max-width: 100%;
    }
  }
}
