#hero {
  // background-color:#152238;
  // padding: 0% 7%;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  // background: url("/assets/img/showcasethree.jpg");
  // box-shadow: inset 0 0 2000px 2000px #00000093;
  // background-size: 110% 110%;
  // background-position: center center;
  // animation: shrink 10s infinite alternate;

  @keyframes shrink {
    0% {
      background-size: 110% 110%;
    }
    100% {
      background-size: 100% 100%;
    }
  }

  @media (max-width: 900px) {
    flex-direction: column;
  }

  .text-container {
    width: 50%;
    display: flex;
    align-items: center;
    color: #fff;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    position: absolute;

    top: 30%;
    @media(max-width: 700px) {
      br {
        display: none;
      }
    }

    button {
      padding: .9rem 5rem;
      border: none;
      background-color: #CB6160;
      background-color: #9A0000;
      width: fit-content;
      border-radius: 4px;
    }

    h2 {
      font-size: 3.5rem;
      text-transform: uppercase;
      color: #fff;

      font-size: 2.5rem;

      @media (max-width: 900px) {
        text-align: center;
        padding-top: 1.5rem;
      }

      @media (max-width: 1116px) {
        font-size: 2.8rem;

        font-size: 1.8rem;
      }

      @media (max-width: 504px) {
        font-size: 2.3rem;

        font-size: 1.6rem;
      }
    }

    @media (max-width: 900px) {
      width: 100%;
    }
  }

  .img-container {
    width: 50%;

    @media (max-width: 900px) {
      width: 100%;
    }

    img {
      max-width: 100%;
    }
  }
}
