#layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .page-title {
    display: flex;
    width: 100%;
    padding: 4rem 7%;
    align-items: center;
    justify-content: center;
    background-color: #152238;

    h1 {
      color: #fff;
      text-align: center;
    }
  }

  .red-text {
    color: #cb6160;
    -webkit-text-stroke: 0.7px #cb6160;
  }

  header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    border-bottom: 1px solid #efefef;
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
  }

  .logo-container {
    display: flex;
    align-items: center;
    color: #152238;
    cursor: pointer;
    text-decoration: none;

    img {
      height: 70px;
      width: auto;
    }

    span.logoText {
      font-weight: bolder;
      // font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      -webkit-text-stroke: 0.7px#152238;
      font-size: 1.2rem;

      @media (max-width: 600px) {
        display: none;
      }
    }
  }

  .icons-container {
    display: flex;
    align-items: center;
    padding-right: 1rem;

    a {
      margin: 0 0.5rem;
      color: #152238;

      span {
        font-size: 2rem;

        @media (max-width: 602px) {
          font-size: 1.7rem;
        }
      }
    }
  }

  aside {
    width: 100vw;
    height: calc(100vh - 99.5px);
    // top: 80px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    // background-color:#152238;
    box-shadow: inset 0 0 1000px 1000px #232347cc;

    .background {
      height: 100%;
      flex-grow: 1;
    }

    ul {
      height: 100%;
      width: 340px;
      background-color: #fff;
      margin: 0;
      padding: 4rem 2rem;
      list-style: none;

      @media (max-width: 410px) {
        width: 100%;
      }
    }

    li {
      padding: 1rem 0;

      a {
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: bold;
        color: #152238;
      }

      a:hover {
        color: #cb6160;
      }
    }
  }

  aside.show-menu {
    display: flex;
    animation: fadeIn 0.5s 1 forwards;

    @keyframes fadeIn {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    ul {
      animation: slideIn 1s 1 forwards;

      @keyframes slideIn {
        from {
          transform: translateX(341px);
        }

        to {
          transform: translateX(0);
        }
      }
    }
  }

  aside.hide-menu {
    animation: fadeOut 1.5s 1 forwards;
    animation-delay: 0.3s;

    @keyframes fadeOut {
      from {
        opacity: 1;
      }

      to {
        opacity: 0;
      }
    }

    ul {
      animation: slideOut 1s 1 forwards;

      @keyframes slideOut {
        100% {
          transform: translateX(341px);
        }
      }
    }
  }

  #clearSidebar {
    display: none;
  }

  footer {
    margin-top: auto;
    padding: 1rem 7%;
    background-color: #152238;
    color: #fff;
    display: flex;
    justify-content: space-between;

    @media (max-width: 600px) {
      flex-direction: column-reverse;
      align-items: center;
    }

    p {
      font-size: 11px;
    }

    .icons-container {
      display: flex;
      align-items: center;

      @media (max-width: 600px) {
        margin-top: 1rem;
        padding-right: 0;
      }

      a {
        color: #fff;

        @media (max-width: 600px) {
          margin: 0 0.5rem;
        }
      }

      i {
        font-size: 1.5rem;
      }
    }
  }
}
